{% when 'picto-produit' %}
            <div li-block="picto-produit" class="picto-produit">
                    
                  
                    <div class="div-block-7"><img src="{{ 'SAV.svg' | asset_url }}" loading="lazy" alt="" class="image-3"></div>
                    
                  
                    <div class="texte-picto">Souple</div>
                    
                
                </div> {% schema %} {
    "name": "picto-produit",
    "settings": [],
    "presets": [
        {
            "name": "picto-produit"
        }
    ]
} {% endschema %}